<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="missmfotografiaEntities" connectionString="metadata=res://*/ModelMissMFotografia.csdl|res://*/ModelMissMFotografia.ssdl|res://*/ModelMissMFotografia.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=manager;database=missmfotografia;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>